server:
  port: 8001

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tinybase?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root

mybatis:
  mapper-locations:
  - classpath:mapper/*.xml
  - classpath*:com/**/mapper/*.xml
